.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-self: center;
}
.flex-container-col{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.container{
    align-items: center;
    height: 100%;
    width: 60%;

}
.welcome{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
}
.fullName {
    font-size: 20px;
    align-self: start;
    margin-top: 4%;
    font-weight: bolder;
}
.balance {
    font-size: 20px;
    justify-content: center;
    align-self: center;
    color: white;
    margin: 10.5px;
}
.card-home{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: 8px;
    padding: 30px;
    display: flex;
    background-color: #ffffff;
}

.center-container{
    height: 100vh; /*100% dari height body*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-transactions{
    width: 100%;
    margin: 0;
}