.card-transactions{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    alignment: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    background-color: #ffffff;
}